.block {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 10px 15px;

    .title {
        font-weight: var(--fw-medium);
        font-size: var(--fs-lrg);
        width: 100%;
    }

    .wrapperPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            // font-weight: var(--fw-medium);
            font-size: var(--fs-lrg);
        }
    }
}