.logo {
    width: 160px;
    padding: 13px 20px;
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-8);
    color: var(--foreground-3);
    border-radius: 10px;

    position: relative;
    overflow: hidden;
    transition: background-color 0.2s, color 0.2s;
    

    &:hover {
        background-color: var(--green-2);

        .text {
            transform: translateY(100%);
            opacity: 0;
        }

        .text-hover {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &:active {
        scale: 0.9;
    }

    .text-wrapper {
        position: relative;
        height: 1em;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .text, .text-hover {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        font-size: var(--fs-rg);
        font-weight: var(--fw-semi-bold);
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    .text-hover {
        transform: translateY(-100%);
        opacity: 0;
    }
}
