.wrapper {
    border-radius: 10px;

    .title {
        font-size: var(--fs-rg);
        font-weight: var(--fw-semi-bold);
        margin-bottom: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 520px) {
    .wrapper {
        border-radius: 0;
    }
}

// >>> ========={ VARIANT }========= >>>
.empty {}

.wide {
    background-color: var(--background-2);
}
// <<< ========={ VARIANT }========= <<<



// >>> ========={ SIZE }========= >>>
.without {}

.small {
    padding: 20px;
}

.middle {
    padding: 20px 30px;
}

// <<< ========={ SIZE }========= <<<
