.anchor {
    height: 1px; /* Почти невидимый якорь */
}

.stickyTitle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 4px #0000001a; /* Тень */
    z-index: 100;
    border-bottom: 1px solid var(--gray-3);
}
