.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: -webkit-fill-available;

    .title {
        font-size: var(--fs-elg);
        font-weight: var(--fw-bold);
    }
}
