.block {
    display: flex;

    .price {
        font-weight: var(--fw-bold);
    }
}

// >>>======{ VARIANTS }======>>>
.fill {
    background-color: var(--primary);
    border-radius: 10px;
    // width: fit-content;
    width: max-content;

    .price {
        padding: 5px 10px;
        color: var(--foreground-3);
    }
}

.text {
    .price {
        font-size: var(--fs-lg);
        font-weight: var(--fw-semi-bold);
    }
}
// <<<======{ VARIANTS }======<<<


@media (max-width: 520px) {
    .price {
        font-size: var(--fs-lrg) !important;
    }
}