.wrapper {
    background-color: var(--background-2);
    padding: 30px 0;
}

.wrapperContent {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    gap: 20px;
}

.buttonTitle {
    font-size: var(--fs-xs) !important;
}


.right {
    margin-left: auto;
    display: flex;
    gap: 20px;
    height: fit-content;
}