.block {
    width: 100%;
    
    .main {
        display: flex;
        gap: 20px;

        .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }

        // TITLE AND PRICE BLOCK
        .title {
            font-weight: var(--fw-semi-bold);
            font-size: var(--fs-elg);
        }

        .wrapperPrice {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px 0;
            border-top: 1px solid var(--gray-3);
            
            .price {
                font-weight: var(--fw-semi-bold);
                font-size: var(--fs-elg);
            }

            .addCart {
                width: 100%;
            }
        }
    }


}

// .stickyTitle {
//     position: sticky;
//     top: 0; /* Расстояние от верхнего края */
//     z-index: 10; /* Чтобы элемент оставался поверх других */
//     background-color: var(--white); /* Для сохранения фона */
//     padding: 10px 0; /* По желанию */
//     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Небольшая тень для отделения */

// }

@media (max-width: 1024px) {
    .block {
        .main {
            flex-direction: column;

            .left {
                .slider {
                    max-width: none;
                }
            }
        }
    }
}


@media (max-width: 520px) {
    .title {
        font-size: var(--fs-lg) !important;
    }
}