.sliderWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: .2s;
  
    // Если isFull=true, каждый слайд занимает всю ширину контейнера
    &.fullWidth {
      .slide {
        width: 100%;
        flex: 0 0 100%; // Каждый слайд занимает 100% ширины контейнера
      }
    }
  
    @media (max-width: 768px) {
      border-radius: 0px;
    }
    
    .prevButton,
    .nextButton {
      position: absolute;
      z-index: 1;
      border: 0 solid var(--background-2);
      transition: .2s;
    }
    .slider {
      width: 100%;
      overflow: hidden;
      transform: translateX(0);
      scroll-behavior: smooth; 
  
      .slideContainer {
        display: flex;
        gap: var(--gap, 0px);
        transition: transform 0.4s ease-in-out;
      }
    }
  }
  
  // >>> ========={ / DIRECTION \ }========= >>>
  
  .row {
    &:hover {
      .visible {
        &.prevButton {left: 0px;}
        &.nextButton {right: 0px;}
      }
    }
  
    .prevButton {
      left: -50px;
    }
    
    .nextButton {
      right: -50px;
    }  
  }
  .column {
    &:hover {
      .visible {
        &.prevButton {top: 0px;}
        &.nextButton {bottom: 0px;}
      }
    }
  
    .prevButton {
      top: -50px;
    }
    
    .nextButton {
      bottom: -50px  ;
    }  
  }
  
  // <<< ========={ \ DIRECTION / }========= <<<
  