:root {
  --max-width: 1280px;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  // ===={ COLORS }====
  // BASE
  --black: #000000;
  --white: #FFFFFF;

  --empty: #FFFFFF00;
  --white_50: rgba(255, 255, 255, 0.5);

  --white-light: #F5F4F2;
  // --gray-1: #F0F0F0;
  // --gray-2: #E0E0E0;
  // --gray-3: #E8E8ED;
  // --gray-4: #828282;

  --gray-1: #76788E;
  --gray-2: #9294A5;
  --gray-3: #CACBD3;
  --gray-4: #E6E6EA;
  --gray-5: #F4F4F6;
  --gray-6: #F5F5F5;
  --gray-7: #EFEFEF;
  --gray-8: #1F1F1F;

  --green-1: #1CAC59;
  --green-2: #2ED573;
  --green-3: #4CEA8F;
  --green-light: #E9F8EE;

  --red: #E54348;

  // SPECIFY
  --disabled: var(--gray-7);

  --foreground-1: var(--gray-8);
  --foreground-2: var(--gray-2);
  --foreground-3: var(--white);
  --foreground-disabled: var(--gray-3);

  --background-1: var(--gray-4);
  --background-2: var(--white);
  --background-3: var(--gray-2);
  --background-4: var(--gray-3);
  --background-5: var(--gray-8);

  // primary
  --primary: var(--green-2);
  --primary-hovered: var(--green-3);
  --on-primary: var(--white);
  --primary-surface: var(--green-light);
  --primary-surface-sub: var(--green-light);
  --primary-light: var(--green-light);

  // secondary
  --secondary: var(--gray-8);
  --secondary-hovered: var(--green-2);
  --secondary-border: var(--gray-8);
  --on-secondary: var(--white);
  --secondary-surface: var(--green-light);
  --secondary-surface-sub: var(--green-light);

  // tertiary
  --tertiary: var(--gray-2);
  --tertiary-border: var(--gray-3);
  --tertiary-hovered: var(--gray-1);
  --tertiary-pressed: var(--gray-1);
  --on-tertiary: var(--white);
  --tertiary-surface: var(--gray-4);
  --tertiary-surface-sub: var(--gray-4);

  // quaternary
  // --quaternary: var(--gray-2);
  // --tertiary-border: var(--gray-3);
  // --tertiary-hovered: var(--gray-1);
  // --tertiary-pressed: var(--gray-1);
  // --on-tertiary: var(--white);
  // --tertiary-surface: var(--gray-4);
  // --tertiary-surface-sub: var(--gray-4);

  // skeleton
  --skeleton-foreground-1: var(--gray-5);
  --skeleton-foreground-2: var(--gray-6);
  --skeleton-background: var(--gray-7); 
  // --gray-5: #F4F4F6;
  // --gray-6: #F5F5F5;
  // --gray-7: #E1E1E1;

  // ERROR
  --error: var(--red);


  // ===={ FONT }====
  
  //FONT-FAMILY
  --font-family: "Montserrat", sans-serif;

  //FONT-SIZE
  // 12px
  --fs-xs: 0.75rem;
  // 15px
  --fs-sm: 0.94rem;
  // 16px
  --fs-srg: 1rem;
  // 20px
  --fs-rg: 1.25rem;
  // 24px
  --fs-lrg: 1.5rem;
  // 32px
  --fs-lg: 2rem;
  // 40px
  --fs-mlg: 2.5rem;
  // 48px
  --fs-elg: 3rem;

  //FONT-WEIGHT
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;

  /* Стили скроллбара для Firefox */
  scrollbar-width: thin; /* "auto" или "thin" */
  scrollbar-color: var(--gray-1) transparent; /* Цвет ползунка и трека */


  &::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-1);
    border-radius: 4px;
  }

  &::selection {
    background: var(--green-1);
    color: var(--background-2);
  }
}

html {
  font-size: 16px; /* Базовый размер по умолчанию */
}

@media (max-width: 768px) {
  html {
    font-size: 14px; /* Уменьшаем базовый rem */
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  // overflow-x: hidden;
  font-weight: var(--fw-regular);
  font-family: var(--font-family);
  
  input, textarea {
    color: var(--foreground-1);
    font-family: inherit;
    font-weight: var(--fw-semi-bold);

    &::placeholder {
      color: var(--foreground-4);
    }
  }
}

body {
  background-color: var(--background-1);
  color: var(--foreground-1);
  font-size: var(--fs-srg);
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  color: var(--foreground-1);
  transition: 0.2s;
}

h1,h2,h3,h4,h5,h6, span, p{
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
