.GalleryCounter {
    position: absolute;
    left: 5%;
    bottom: 5%;
    background-color: var(--background-2);
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--font-caption);

    & span {
        font-size: var(--font-size-s);
        font-weight: var(--font-weight-light);
    }

    .activeNumber {
        color: var(--font);
    }
}