.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px !important;

    .top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
}