.wrapper {
    background-color: var(--background-2);
    border-radius: 10px;
}

// >>> ========={ VARIANT }========= >>>
.min {
    padding: 10px;
}

.mid {
    padding: 20px 30px;
}

// <<< ========={ VARIANT }========= <<<
