.block {
    .main {
        .slider {}
        .info {
            .title {
                font-weight: var(--fw-bold);
                font-size: var(--fs-elg);
            }
            .price {
                font-weight: var(--fw-medium);
                font-size: var(--fs-elg);
            }
            .options {
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
        }
    }
}