.block {
    display: flex;
    padding: 10px 20px;
    border: 2px solid var(--tertiary-border);
    transition: .2s;

    &:hover {
        border-color: var(--tertiary-hovered);
    }

    .title {
        color: var(--foreground-1);
        font-weight: var(--fw-semi-bold);
        font-size: var(--fs-srg);
    }
}

.active {
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
    }
}

.option {
    display: flex;
}


// >>> ========={ VARIANT }========= >>>

.simple {
    .block {
        border-radius: 10px;
    }
}

.wDelete {
    .block {
        border-radius: 10px 0 0 10px;
    }

    .wrapperDelete {
        background-color: var(--tertiary-border);
        padding: 5px;
        border-radius: 0 10px 10px 0;
    
        .buttonDelete {
            background-color: var(--tertiary-border);
            padding: 7px;

            &:hover {
                background-color: var(--tertiary) !important;
            }
        }
    }
}

// <<< ========={ VARIANT }========= <<<

