.block {
    display: flex;
    padding: 10px 20px;
    border: 2px solid var(--tertiary-border);
    border-radius: 10px;
    transition: .2s;

    &:hover {
        border-color: var(--tertiary-hovered);
    }

    .title {
        color: var(--foreground-1);
        font-weight: var(--fw-semi-bold);
        font-size: var(--fs-srg);
    }
}

.active {
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
    }
}