.input {
    width: 100%;
    border: 1px solid var(--gray-5);
    transition: all .3s;
    outline: none;
    padding-left: 3px;
}

.wHovered {
    padding: 10px 10px 10px 15px;
    background-color: var(--gray-4);
    border-radius: 15px;
    font-size: var(--font-size-s);

    &::placeholder {
        color: var(--dark-1);
    }

    &:hover {
        background-color: var(--gray-4);
    }
}


.bPurple {
    border: 2px solid var(--primary);
    border-radius: 10px;
    background-color: var(--background-2);
    padding: 15px 16px;

    &::placeholder {
        color: var(--foreground-2);
    }
}
